.mini-donation-form {
  $horizontalMargin: 1%;
  $horizontalPadding: 1.25rem;

  color: #fff;

  &.mini-donation-form--with-background {
    background-color: #3f3f3f;
    border-top: solid 10px #0597ff;
  }

  &__headline {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.6rem;
    font-style: italic;
    line-height: 1;
    margin: 1rem 0;
  }

  &__interaction {
    &--no-amounts {
      display: flex;

      .mini-donation-form__amounts {
        flex-basis: 50%;

        .amount--other {
          align-items: center;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          display: flex;
          font-size: 2rem;
          justify-content: center;
          margin-right: 0;
        }
      }

      .btn-submit {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        flex-basis: 50%;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }

  &__amounts {
    display: flex;
    flex-wrap: wrap;

    .amount {
      background-color: #fff;
      border: solid 2px #b4b4b4;
      border-radius: 8px;
      color: #2f3238;
      cursor: pointer;
      flex: 1 0 48%;
      font-size: 2rem;
      font-weight: bold;
      margin: 1rem $horizontalMargin 0;
      min-width: 7rem;
      padding: .75rem $horizontalPadding;
      text-align: center;
      transition: background-color .3s, border .3s, color .3s;

      &.selected {
        background-color: #0597ff;
        border-color: #0597ff;
        color: #fff;
      }

      &:hover {
        border-color: #0597ff;
      }

      &--other {
        display: flex;
        justify-content: center;
        white-space: nowrap;

        input {
          border: 0;
          border-bottom: solid 2px #2f3238;
          border-radius: 0 !important;
          font-size: 2rem;
          font-weight: bold;
          line-height: 1;
          max-width: 7rem;
          text-align: right;
          transition: border-color .3s;

          &.prepend-currency {
            text-align: left;
          }
        }

        &.selected {
          background-color: #fff;
          color: #2f3238;

          input::placeholder {
            color: #fff;
          }
        }
      }
    }
  }

  &__repeat {
    display: flex;
    margin: 1rem $horizontalMargin 0 $horizontalMargin;
    text-align: left;

    label {
      color: #fff;
      font-size: 1.125rem;
      font-weight: bold;
    }
  }

  .btn-submit {
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    justify-content: center;
    margin: 1rem $horizontalMargin 0 $horizontalMargin;
    padding: .75rem $horizontalPadding;
    text-transform: uppercase;
  }

  &__max-amount-error,
  &__min-amount-error {
    color: #fa025f;
    padding-left: $horizontalPadding;
    padding-right: $horizontalPadding;
  }
}
